spring:
  datasource:
    url: jdbc:mysql://localhost:3306/kyle_week7?serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        show_sql: false

  output:
    ansi:
      enabled: ALWAYS

decorator:
  datasource:
    p6spy:
      enable-logging: true

server:
  servlet:
    session:
      timeout: 1h

springdoc:
  swagger-ui:
    path: /api-test
